{% load static %}
<!doctype html>
<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>fortiGO-The Truck App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

	  <link rel="stylesheet" typed="text/css" href="{% static 'Truck/base.css' %}">
     <!--<style><% include ./styles.css %>-->

    </style>

    </head>
    <body>
        <header style="background:blue">
            <h2 href="#">fortiGO</h2>
            <nav>
               <li><a href="signup.html">Sign Up</a> </li>
                <li><a href="#">Login</a> </li>
		              <li><a href="#">FAQ</a> </li>
                <li><a href="#">Contact</a> </li>
            </nav>
            </header>

           <!-- <section class="hero">
            <div class="background-image" style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
                <div class="hero-content-area">
                <h1>Truck Management System</h1>
                    <h3>Always in your service!</h3>
                </div>

            </section>--->

        <!-- <section class="contact">
		<h3 class="title">Join Our Newsletter!!</h3>
		<hr>

		<form>
			<input type="email" placeholder="Email">
			<a href="#" class="btn">Subscribe now</a>
		</form>
	</section>

	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>Made by ASE GROUP-7</p>
	</footer> -->

    </body>
</html>
